/venv
/configs/telegram.json
/configs/email.json
reports/csv/report-activity.csv
*DS_Store
configs/discord.json
configs/pinmarker-36552-firebase-adminsdk-5dett-b688b092f1.json
configs/google.json
user_data.db